doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        form(method='POST', action='https://test.paycom.uz')
  
            input(type='hidden', name='merchant', value=`${merchant_id}`)
            input(type='hidden', name='amount', value=`${data.amount*100}`)
            input(type='hidden', name=`account[id]`, value=`${data.account}`)

            input(type='hidden', name='lang', value='ru')
 
 
            input(type='hidden', name='callback', value='{url возврата после платежа}')
 
            input(type='hidden', name='callback_timeout', value='{miliseconds}')
 
            input(type='hidden', name='description', value='{Описание платежа}')
 
            input(type='hidden', name='detail', value='{JSON объект детализации в BASE64}')
            button(type='submit') PayMe